* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  /* Colors */
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
}

.Main {
  /* border: 1px solid red; */
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "Hero"
    "Description"
    "FornitureOne"
    "About"
    "FornitureTwo";
}

.Hero {
  grid-area: Hero;
  /* border: 4px solid purple; */
  height: 38rem;
  position: relative;
}

.Navbar {
  position: absolute;
  /* border: 1px solid blue; */
  height: 6rem;
  width: 100%;
  padding: 0 2.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.Icon__hamburger {
  position: absolute;
  left: 2.5rem;
  background: none;
  border: none;
}

.Hero_imgContainer {
  background-color: lavenderblush;
  height: 100%;
  width: 100%;
}

.Hero_imgContainer > img {
  width: 100%;
  height: 100%;
}

.Buttons {
  width: 10rem;
  height: 5rem;
  position: absolute;
  top: 33rem;
  left: calc(100% - 10rem);
  display: flex;
  background-color: var(--black);
}

.Button {
  width: 50%;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
}

.left {
  background-image: url("../images/icon-angle-left.svg");
}

.right {
  background-image: url("../images/icon-angle-right.svg");
}

.Description {
  grid-area: Description;
  /* border: 1px solid palevioletred; */
  height: 40rem;
}

.FornitureOne {
  grid-area: FornitureOne;
  /* border: 1px solid palegreen; */
  height: 25rem;
  background-image: url("../images/image-about-dark.jpg");
}

.About {
  grid-area: About;
  /* border: 1px solid peru; */
  height: 28rem;
}

.FornitureTwo {
  grid-area: FornitureTwo;
  /* border: 1px solid royalblue; */
  height: 25rem;
  background-image: url("../images/image-about-light.jpg");
}

@media screen and (min-width: 1240px) {
  .Main {
    grid-template-columns: 36% 12% 12% 12% 30%;
    grid-template-rows: 53vh 12vh 35vh;
  }

  .Hero {
    border: none;
    background-color: violet;
    height: inherit;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .Buttons {
    /* position: static; */
    top: 0;
    left: 0;
    grid-column-start: 4;
    grid-row-start: 2;
    width: 30%;
    height: 12vh;
  }

  .Description {
    background-color: palevioletred;
    height: inherit;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .FornitureOne {
    background-color: palegreen;
    height: inherit;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .About {
    background-color: peru;
    height: inherit;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .FornitureTwo {
    border: none;
    background-color: turquoise;
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
    width: inherit;
    height: inherit;
  }
}
